* {box-sizing: border-box;}


header { 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-style: italic;
    background-color: rgb(60, 60, 60); 
    
    }

h1 { 
    background-color: rgb(213, 213, 193) ;
    padding-left: 40px;
    padding-right: 10px;

    }

a    { 
    display: inline-block;
    padding-right: 40px;
    padding-top: 35px;
    color: rgb(213, 213, 193);

    }
    







